<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{funcionario.nome}}</mat-card-title>
    <mat-card-subtitle>CPF {{funcionario.cpf}}</mat-card-subtitle>
    <mat-card-subtitle>Data de nascimento {{funcionario.dataNascimento}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button routerLink="/funcionarios">Voltar</button>
  </mat-card-actions>
</mat-card>