<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>MODELO - {{veiculo.modelo}}</mat-card-title>
    <mat-card-subtitle>PLACA - {{veiculo.placa}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>Ativo: {{veiculo.ativo}}</p>
    <p>Ano fabricante: {{veiculo.anoFabricacao}}</p>
    <p>Ano modelo: {{veiculo.anoModelo}}</p>
    <p>Chassi: {{veiculo.chassi}}</p>
    <p>Cor: {{veiculo.cor}}</p>
    <p>Consumo médio: {{veiculo.consumoMedioPorKm}}</p>
    <p>Qtd. Passageiros: {{veiculo.quantidadePassageiro}}</p>
    <p>Data do cadastro: {{veiculo.dataCadastro}}</p>
    <p>Data da desativação: {{veiculo.dataDesativacao}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/veiculos">Voltar</button>
  </mat-card-actions>
</mat-card>