.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 60px;
    padding-left: 50px;
}

.header .title-group {
    padding-left: 100px;
}

.header .title-group i {
    padding-right: 10px;
}