<mat-toolbar class="header mat-elevation-z4">
  <span>
    <a routerLink='/'>
      <img class="logo" src="assets/imagem/logo.png" alt="logo">
    </a>
  </span>
  <span class="title-group">
    <a>
      Cadastrar Funcionário
    </a>
  </span>
</mat-toolbar>