.sidenav {
    background-color: #3f51b5;
    width: 250px;
}

.sidenav a {
    color: #fff;
    padding: 0 5px;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #fff;
}