<div class="mat-elevation-z4">
  <table mat-table [dataSource]="veiculos">

    <ng-container matColumnDef="placa">
      <th mat-header-cell *matHeaderCellDef>Placa</th>
      <td mat-cell *matCellDef="let veiculo">{{veiculo.placa}}</td>
    </ng-container>

    <ng-container matColumnDef="modelo">
      <th mat-header-cell *matHeaderCellDef>Modelo</th>
      <td mat-cell *matCellDef="let veiculo">{{veiculo.modelo}}</td>
    </ng-container>

    <ng-container matColumnDef="anomodelo">
      <th mat-header-cell *matHeaderCellDef>Ano Modelo</th>
      <td mat-cell *matCellDef="let veiculo">{{veiculo.anoModelo}}</td>
    </ng-container>

    <ng-container matColumnDef="anofabricacao">
      <th mat-header-cell *matHeaderCellDef>Ano Fabricação</th>
      <td mat-cell *matCellDef="let veiculo">{{veiculo.anoFabricacao}}</td>
    </ng-container>

    <ng-container matColumnDef="cor">
      <th mat-header-cell *matHeaderCellDef>Cor</th>
      <td mat-cell *matCellDef="let veiculo">{{veiculo.cor}}</td>
    </ng-container>

    <ng-container matColumnDef="consumomedio">
      <th mat-header-cell *matHeaderCellDef>Consumo médio</th>
      <td mat-cell *matCellDef="let veiculo">{{veiculo.consumoMedioPorKm}}</td>
    </ng-container>

    <ng-container matColumnDef="quantidadepassageiros">
      <th mat-header-cell *matHeaderCellDef>Qtd. Passageiros</th>
      <td mat-cell *matCellDef="let veiculo">{{veiculo.quantidadePassageiro}}</td>
    </ng-container>

    <ng-container matColumnDef="chassi">
      <th mat-header-cell *matHeaderCellDef>Chassi</th>
      <td mat-cell *matCellDef="let veiculo">{{veiculo.chassi}}</td>
    </ng-container>

    <ng-container matColumnDef="datacadastro">
      <th mat-header-cell *matHeaderCellDef>Data Cadastro</th>
      <td mat-cell *matCellDef="let veiculo">{{veiculo.dataCadastro}}</td>
    </ng-container>

    <ng-container matColumnDef="datadesativacao">
      <th mat-header-cell *matHeaderCellDef>Data Desativação</th>
      <td mat-cell *matCellDef="let veiculo">{{veiculo.dataDesativacao}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let veiculo">
        <a routerLink="/veiculos/atualizar/{{veiculo.id}}" class="edit">
          <i class="material-icons">edit</i>
        </a>
        <a class="delete" (click)="excluir(veiculo.id)">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>