<mat-card class="home mat-elevation-z3">
  <mat-card-title class="title">
    Obrigado
  </mat-card-title>
  <mat-card-subtitle class="subtitle">
    Sistema para responder ao desenvolvimento solicitado.
  </mat-card-subtitle>
</mat-card>