<div class="mat-elevation-z4">
    <table mat-table [dataSource]="funcionarios">
        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let funcionario">{{funcionario.nome}}</td>
        </ng-container>

        <ng-container matColumnDef="cpf">
            <th mat-header-cell *matHeaderCellDef>CPF</th>
            <td mat-cell *matCellDef="let funcionario">{{funcionario.cpf}}</td>
        </ng-container>

        <ng-container matColumnDef="dataNascimento">
            <th mat-header-cell *matHeaderCellDef>Data de Nascimento</th>
            <td mat-cell *matCellDef="let funcionario">{{funcionario.dataNascimento}}</td>
        </ng-container>

        <ng-container matColumnDef="login">
            <th mat-header-cell *matHeaderCellDef>Login</th>
            <td mat-cell *matCellDef="let funcionario">{{funcionario.login}}</td>
        </ng-container>

        <ng-container matColumnDef="senha">
            <th mat-header-cell *matHeaderCellDef>Senha</th>
            <td mat-cell *matCellDef="let funcionario">{{funcionario.senha}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let funcionario">
                <a routerLink="/funcionarios/atualizar/{{funcionario.id}}" class="edit">
                    <i class="material-icons">edit</i>
                </a>
                <a class="delete" (click)="excluir(funcionario.id)">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>