button {
    margin: 15px 0px 30px 0px;
}

form {
    display: flex;
    flex-direction: row;
    float: right;
    margin: 20px 50px 0px 20px;
}

div {
    margin-left: 30px;
}

.pesquisar {
    color: #0d5093;
}