<button mat-raised-button (click)="navigateToFuncionarioCadastrar()" color="primary">Novo Funcionário</button>

<form [formGroup]="pesquisarNome">
    <div>
        <mat-form-field>
            <mat-label>Pesquise por nome</mat-label>
            <input matInput placeholder="Pesquise pelo nome" formControlName="nomePesquisa" maxlength="40">
        </mat-form-field>
        <a class="pesquisar" (click)="pesquisarPorNome()">
            <i class="material-icons">search</i>
        </a>
    </div>
</form>

<form [formGroup]="pesquisarCPF">
    <div>
        <mat-form-field>
            <mat-label>Pesquise por CPF</mat-label>
            <input matInput placeholder="Pesquise pelo CPF" formControlName="cpfPesquisa" maxlength="40">
        </mat-form-field>
        <a class="pesquisar" (click)="pesquisarPorCPF()">
            <i class="material-icons">search</i>
        </a>
    </div>
</form>

<app-funcionario-leitura></app-funcionario-leitura>