<mat-card>
  <mat-card-title>Alterar Funcionário</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="Nome" 
        [(ngModel)]="funcionario.nome" name="nome">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CPF" 
        [(ngModel)]="funcionario.cpf" name="cpf">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data de nascimento</mat-label>
      <input matInput [matDatepicker]="picker1" [(ngModel)]="dataForm" name="dataNascimento" >
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Login" 
        [(ngModel)]="funcionario.login" name="login">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Senha" 
        [(ngModel)]="funcionario.senha" name="senha">
    </mat-form-field>
  </form>

  <div class="buttons">
    <button mat-raised-button (click)="cancel()">
      Cancelar
    </button>
  
    <button mat-raised-button (click)="updateVeiculo()" color="primary">
      Salvar
    </button>
  </div>
</mat-card>