<mat-card>
  <mat-card-title>Novo Veículo</mat-card-title>
  <form [formGroup]="veiculo" >
    <mat-form-field>
      <mat-label>Placa</mat-label>
      <input matInput placeholder="Placa" formControlName="placa" maxlength="10" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ativo</mat-label>
      <mat-select formControlName="ativo">
        <mat-option *ngFor="let t of tiposAtivo" [value]="t.tipo">
          {{t.tipo}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ano Fabricação</mat-label>
      <input matInput placeholder="Ano Fabricação" formControlName="anoFabricacao" type="number" maxlength="4" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ano Modelo</mat-label>
      <input matInput placeholder="Ano Modelo" formControlName="anoModelo"  type="number" maxlength="4" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Chassi</mat-label>
      <input matInput placeholder="Chassi" formControlName="chassi" maxlength="40" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Modelo</mat-label>
      <input matInput placeholder="Modelo" formControlName="modelo" maxlength="30" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cor</mat-label>
      <input matInput placeholder="Cor" formControlName="cor" maxlength="20" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Consumo Médio</mat-label>
      <input matInput placeholder="Consumo Médio" formControlName="consumoMedioPorKm"  type="number" step="0.1"  />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Número de Passageiros</mat-label>
      <input matInput placeholder="Número de Passageiros" formControlName="quantidadePassageiro" type="number" step="1" min="0"   />
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Data de cadastro</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="dataCadastro">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Data de desativação</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="dataDesativacao">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </form>

  <div class="buttons">
    <button mat-raised-button (click)="cancel()">
      Cancelar
    </button>

    <button (click)="createVeiculo()" mat-raised-button color="primary">
      Salvar
    </button>
  </div>
</mat-card>