<button mat-raised-button (click)="navigateToFuncionarioCadastrar()" color="primary">Novo Veiculo</button>

<form [formGroup]="pesquisarPlaca">
    <div>
        <mat-form-field>
            <mat-label>Pesquise pela placa</mat-label>
            <input matInput placeholder="Pesquise pela placa" formControlName="nomePlaca" maxlength="40">
        </mat-form-field>
        <a class="pesquisar" (click)="pesquisarPorPlaca()">
            <i class="material-icons">search</i>
        </a>
    </div>
</form>

<form [formGroup]="pesquisarModelo">
    <div>
        <mat-form-field>
            <mat-label>Pesquise por modelo</mat-label>
            <input matInput placeholder="Pesquise pelo modelo" formControlName="nomeModelo" maxlength="40">
        </mat-form-field>
        <a class="pesquisar" (click)="pesquisarPorModelo()">
            <i class="material-icons">search</i>
        </a>
    </div>
</form>

<app-veiculo-leitura></app-veiculo-leitura>