<mat-card>
  <mat-card-title>Novo Funcionário</mat-card-title>
  <form [formGroup]="funcionario">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome" formControlName="nome" maxlength="40">
    </mat-form-field>

    <mat-form-field>
      <mat-label>CPF</mat-label>
      <input matInput placeholder="CPF" formControlName="cpf" maxlength="14">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data de nascimento</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="dataNascimento">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Login</mat-label>
      <input matInput placeholder="Login" formControlName="login" maxlength="12">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input matInput placeholder="Senha" formControlName="senha" maxlength="12">
    </mat-form-field>
  </form>

  <div class="buttons">
    <button mat-raised-button (click)="cancel()">
      Cancelar
    </button>
  
    <button mat-raised-button (click)="createFuncionario()" color="primary">
      Salvar
    </button>
  </div>
</mat-card>