/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
    color: #d93636
}

.v-middle {
    vertical-align: middle;
}

.v-botton {
    vertical-align: bottom;
}

.v-sub {
    vertical-align: sub;
}

.pl-1 {
    padding-left: 4px;
}

.pl-2 {
    padding-left: 8px;
}